@model AquaServer.Models.DeviceStateLogViewModel

<div class="col-sm-12">
	<div class="panel panel-info">
		<div class="panel-heading">Device state log</div>
		@Html.Partial("_DeviceStateLogSection", Model)
	</div>
</div>